*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    width: 100vw;
    overflow-x: hidden;
}


#header-first-container{
    margin-left: 80px;
    width: 90%;
    height: 8vh;
    background-color: rgb(116, 197, 17);
    border-radius: 10px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#header-first-subcontainer01{
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

#header-first-subcontainer01 i{
    color: rgb(255, 196, 0);
    padding-right: 5px;
}


#header-first-subcontainer02{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
    color: white;
}


#logo h1{
    font-size: 45px;
    color:rgb(116, 197, 17);;
}
#nav-bar{
    margin-top: 20px;
    /* border: 2px solid salmon; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    z-index: 999;
}

#nav-bar ul{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

#nav-bar ul li{
    list-style: none;
}

#nav-bar ul li a{
    text-decoration:none ;
}


#nav-bar ul li a:hover{
    color: rgb(116, 197, 17);
    /* background-color: rgb(211, 211, 211); */
}



  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-bottom-right-radius: 10px;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-align: left;
    z-index: 998;
    background-color: #fff;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(116, 197, 17);
  }
  
  .show {
    display: block;
  }


  #nav-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    font-size: x-large;
  }

  #nav-icons i{
    color: rgb(116, 197, 17);
  }


  .content {
    padding: 16px;
  }
  
  .sticky {
  
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }




#search-section-container01{
    margin-top: 40px;
    border: 2px solid white;
    width: 100%;

    
}

#search-section-container01 img{
    position: absolute;
    width: 100vw;
    height: 70vh;
    z-index: -1;
}

#search-section-container02{
    display: flex;
    gap: 20px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.783), rgba(230, 230, 230, 0.763));
    width: 100vw;
    height: 70vh;
    position: absolute;
    z-index: -1;
}

#search-subcontainer01{
    margin-top: 30px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: start;
    width: 55vw;
    padding-left: 50px;

}

#search-subcontainer01 p{
    color: orange;
    font-weight: 600;
    font-size: x-large;
}

#search-subcontainer01 h1{
    font-size: 60px;
    color: rgb(116, 197, 17);
}

#search-subcontainer01 div input{
    width: 300px;
    padding: 10px 0px;
    border-radius: 30px;
    border: 2px solid rgb(116, 197, 17);
    padding-left: 15px;
}

#search-subcontainer01 div button{
    padding-right:10px;
    padding: 8px 20px;
    border-radius: 20px;
    background-color: rgb(116, 197, 17);
    border: 2px solid rgb(116, 197, 17);
    color: white;
}


#search-subcontainer01 div button:hover{
    color:  rgb(116, 197, 17);
    border: 2px solid  rgb(116, 197, 17);
    background-color: #fff;
}


#search-subcontainer02{
    width: 40vw;
    display: flex;
    justify-content: end;
    align-items: center;
}

.swiper {
    border-radius: 20px;
    width: 35vw;
    height: 80%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    position: absolute;
    z-index:-1 ;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #swiper-slide-container{
    background-color: rgba(255, 166, 0, 0.658);
    color: #fff;
    position: absolute;
    z-index: 1;
  }

/* after-search-section */

#after-search-section{
    margin-top: 500px;
}

#after-search-section-main-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;

}

#after-search-section-Subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 250px;
    height: 300px;
    background-color: #f3f3f3bf;
    border-radius: 15px;
}

#after-search-section-Subcontainer img{
    width: 150px;
}

/* Our product section */

#our-products{
  margin-top: 100px;
}

#our-products-container01{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#our-products-container01 h1{
  font-size: xx-large;
}

#our-products-container01-btn{

  display: flex;
  gap: 30px;
}

#our-products-container01-btn button{
  padding: 6px 15px;
  border-radius:20px ;
  border: none;
  cursor: pointer;

}

#our-products-container01-btn button:hover{
  background-color: orange;
  color: #fff;
  border: 1px solid orange;
  
}


/* Fruits-container */

#our-products-container02{
 margin-top: 50px; 

}

#our-products-container02-fruits-container{
  /* visibility: hidden; */

  margin-top: 30px;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  margin-left: 30px;
}

#Fruits-container01{
  margin-left: 20px;
  border: 2px solid green;
  width: 250px;
  height: 430px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  overflow: hidden;
  border: 1px solid orange;
  border-radius: 20px;
  padding-bottom: 20px;

  

}

#Fruits-container01 h4{
  z-index: 1;
  position: absolute;
  background-color: orange;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 20px;
  color: white;
  border-radius: 10px;

  
}

#Fruits-container01:hover{
  box-shadow: 1px 5px 5px 7px rgb(235, 235, 235);
}

#Fruits-container01 img{
  overflow: hidden;
  width: 247px;
  height: 200px;
  transition: all 0.5s ease-in;
  
}

#Fruits-container01 img:hover{ 
  transform: scale(1.1,1.1);
  
  
}

#Fruits-container01 div i{
  position: absolute;
  padding-left: 10px;
  padding-top: 8px;
  color:  rgb(116, 197, 17);

}

#Fruits-container01 button{
  padding: 5px 30px;
  border-radius: 20px;
  background-color: white;
  color:  rgb(116, 197, 17);
  border: 1.5px solid orange;
}


/* vegetables container */


#our-products-container02-vegetables-container{
  /* visibility: hidden; */
  margin-top: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  margin-left: 30px;
}

#Vegetables-container01{
  margin-left: 20px;
  border: 2px solid green;
  width: 250px;
  height: 430px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  overflow: hidden;
  border: 1px solid orange;
  border-radius: 20px;
  padding-bottom: 20px;

  

}

#Vegetables-container01 h4{
  z-index: 1;
  position: absolute;
  background-color:  rgb(116, 197, 17);
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 20px;
  color: white;
  border-radius: 10px;

  
}

#Vegetables-container01:hover{
  box-shadow: 1px 5px 5px 7px rgb(235, 235, 235);
}

#Vegetables-container01 img{
  overflow: hidden;
  width: 247px;
  height: 200px;
  transition: all 0.5s ease-in;
  
}

#Vegetables-container01 img:hover{ 
  transform: scale(1.1,1.1);
  
  
}

#Vegetables-container01 div i{
  position: absolute;
  padding-left: 10px;
  padding-top: 8px;
  color:  rgb(116, 197, 17);

}

#Vegetables-container01 button{
  padding: 5px 30px;
  border-radius: 20px;
  background-color: white;
  color:  rgb(116, 197, 17);
  border: 1.5px solid orange;
}


