*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}


html{
  overflow-x: hidden;
}



body{
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;



}




#header-first-container {
  margin-left: 80px;
  width: 90%;
  height: 8vh;
  background-color: rgb(116, 197, 17);
  border-radius: 10px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#header-first-subcontainer01 {
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}

#header-first-subcontainer01 i {
  color: rgb(255, 196, 0);
  padding-right: 5px;
}


#header-first-subcontainer02 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-right: 20px;
  color: white;
}


#logo h1 {
  font-size: 45px;
  color: rgb(116, 197, 17);
  ;
}

#nav-bar {
  width: 100%;
  margin-top: 20px;
  /* border: 2px solid salmon; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  z-index: 999;
}

#nav-bar ul {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

#nav-bar ul li {
  list-style: none;
}

#nav-bar ul li a {
  text-decoration: none;
  color: black;
}


#nav-bar ul li a:hover {
  color: rgb(116, 197, 17);
  /* background-color: rgb(211, 211, 211); */
}


.moblie-navbar-icon{
  display: none;
  width: 4rem;
  height: 4rem;

}


.fa-xmark{
  display: none;
}




.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-bottom-right-radius: 10px;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  text-align: left;
  z-index: 998;
  background-color: #fff;
}

.dropdown-content a:hover {
  background-color: rgb(116, 197, 17);
}

.show {
  display: block;
}


#nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: x-large;
}

#nav-icons i {
  color: rgb(116, 197, 17);
}


.content {
  padding: 16px;
}

.sticky {

  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}




#search-section-container01 {
  margin-top: 40px;
  border: 2px solid white;
  width: 100%;


}

#search-section-container01 img {
  position: absolute;
  width: 100%;
  height: 70vh;
  z-index: -1;
}

#search-section-container02 {
  display: flex;
  gap: 20px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.783), rgba(230, 230, 230, 0.763));
  width: 100vw;
  height: 70vh;
  position: absolute;
  z-index: -1;
}

#search-subcontainer01 {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  align-items: start;
  width: 55vw;
  padding-left: 50px;

}

#search-subcontainer01 p {
  color: orange;
  font-weight: 600;
  font-size: x-large;
}

#search-subcontainer01 h1 {
  font-size: 60px;
  color: rgb(116, 197, 17);
}

#search-subcontainer01 div input {
  width: 300px;
  padding: 10px 0px;
  border-radius: 30px;
  border: 2px solid rgb(116, 197, 17);
  padding-left: 15px;
}

#search-subcontainer01 div button {
  padding-right: 10px;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: rgb(116, 197, 17);
  border: 2px solid rgb(116, 197, 17);
  color: white;
}


#search-subcontainer01 div button:hover {
  color: rgb(116, 197, 17);
  border: 2px solid rgb(116, 197, 17);
  background-color: #fff;
}


#search-subcontainer02 {
  width: 40vw;
  display: flex;
  justify-content: end;
  align-items: center;
}

.swiper {
  border-radius: 20px;
  width: 35vw;
  height: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  position: absolute;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#swiper-slide-container {
  background-color: rgba(255, 166, 0, 0.658);
  color: #fff;
  position: absolute;
  z-index: 1;
}

/* after-search-section */

#after-search-section {
  margin-top: 500px;
}

#after-search-section-main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;

}

#after-search-section-Subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 250px;
  height: 300px;
  background-color: #f3f3f3bf;
  border-radius: 15px;
}

#after-search-section-Subcontainer img {
  width: 150px;
}

/* Our product section */

#our-products {
  margin-top: 100px;
}

#our-products-container01 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#our-products-container01 h1 {
  font-size: xx-large;
}

#our-products-container01-btn {

  display: flex;
  gap: 30px;
}

#our-products-container01-btn button {
  padding: 6px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;

}

#our-products-container01-btn button:hover {
  background-color: orange;
  color: #fff;
  border: 1px solid orange;

}


/* Fruits-container */

#our-products-container02 {
  margin-top: 50px;

}

#our-products-container02-fruits-container {
  /* visibility: hidden; */

  margin-top: 30px;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  margin-left: 30px;
}

#Fruits-container01 {
  margin-left: 20px;
  border: 2px solid green;
  width: 250px;
  height: 430px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  overflow: hidden;
  border: 1px solid orange;
  border-radius: 20px;
  padding-bottom: 20px;



}

#Fruits-container01 h4 {
  z-index: 1;
  position: absolute;
  background-color: orange;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 20px;
  color: white;
  border-radius: 10px;


}

#Fruits-container01:hover {
  box-shadow: 1px 5px 5px 7px rgb(235, 235, 235);
}

#Fruits-container01 img {
  overflow: hidden;
  width: 247px;
  height: 200px;
  transition: all 0.5s ease-in;

}

#Fruits-container01 img:hover {
  transform: scale(1.1, 1.1);


}

#Fruits-container01 div i {
  position: absolute;
  padding-left: 10px;
  padding-top: 8px;
  color: rgb(116, 197, 17);

}

#Fruits-container01 button {
  padding: 5px 30px;
  border-radius: 20px;
  background-color: white;
  color: rgb(116, 197, 17);
  border: 1.5px solid orange;
}


/* vegetables container */


#our-products-container02-vegetables-container {
  /* visibility: hidden; */
  margin-top: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  margin-left: 30px;
}

#Vegetables-container01 {
  margin-left: 20px;
  border: 2px solid green;
  width: 250px;
  height: 430px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  overflow: hidden;
  border: 1px solid orange;
  border-radius: 20px;
  padding-bottom: 20px;



}

#Vegetables-container01 h4 {
  z-index: 1;
  position: absolute;
  background-color: rgb(116, 197, 17);
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 20px;
  color: white;
  border-radius: 10px;


}

#Vegetables-container01:hover {
  box-shadow: 1px 5px 5px 7px rgb(235, 235, 235);
}

#Vegetables-container01 img {
  overflow: hidden;
  width: 247px;
  height: 200px;
  transition: all 0.5s ease-in;

}

#Vegetables-container01 img:hover {
  transform: scale(1.1, 1.1);


}

#Vegetables-container01 div i {
  position: absolute;
  padding-left: 10px;
  padding-top: 8px;
  color: rgb(116, 197, 17);

}

#Vegetables-container01 button {
  padding: 5px 30px;
  border-radius: 20px;
  background-color: white;
  color: rgb(116, 197, 17);
  border: 1.5px solid orange;
}

/* our-products-second-section-container */

#our-products-second-section {
  margin-top: 150px;


}

#our-products-second-section-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 40px;
}


#our-products-second-section-subcontainer01 {
  margin-left: 30px;
  border-radius: 30px;
  border: 1px solid orange;
  width: 350px;
  height: 400px;
}

#our-products-second-section-subcontainer01-left {
  width: 330px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}



#our-products-second-section-subcontainer01-left img {
  width: 280px;
  height: 250px;

}

#our-products-second-section-subcontainer01-right {
  width: 350px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: orange;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;


}


#our-products-second-section-subcontainer01-right div {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  width: 240px;
  height: 130px;
  color: #fff;
  background-color: rgb(116, 197, 17);

}

#our-products-second-section-subcontainer01-right div p {
  font-size: large;
  font-weight: 900;

}

#our-products-second-section-subcontainer01-right div span {
  font-size: x-large;
  color: #343a40;
}

#our-products-second-section-subcontainer01-right div h1 {
  font-size: 30px;
  color: #343a40;
}




#our-products-second-section-subcontainer02 {
  margin-left: 30px;
  border-radius: 30px;
  border: 1px solid #343a40;
  ;
  width: 350px;
  height: 400px;
}

#our-products-second-section-subcontainer02-left {
  width: 330px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}



#our-products-second-section-subcontainer02-left img {
  width: 280px;
  height: 250px;
}

#our-products-second-section-subcontainer02-right {
  width: 350px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #343a40;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;


}


#our-products-second-section-subcontainer02-right div {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  width: 240px;
  height: 130px;
  background-color: rgb(240, 240, 240);

}

#our-products-second-section-subcontainer02-right div p {
  font-size: large;
  font-weight: 900;
  color: rgb(116, 197, 17);

}

#our-products-second-section-subcontainer02-right div span {
  font-size: x-large;
  color: #565656;
}

#our-products-second-section-subcontainer02-right div h1 {
  font-size: 30px;
  color: #5f5f5f;
}



#our-products-second-section-subcontainer03 {
  margin-left: 30px;
  border-radius: 30px;
  border: 1px solid rgb(116, 197, 17);
  width: 350px;
  height: 400px;
}

#our-products-second-section-subcontainer03-left {
  width: 330px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}



#our-products-second-section-subcontainer03-left img {
  width: 280px;
  height: 250px;
}

#our-products-second-section-subcontainer03-right {
  width: 350px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgb(116, 197, 17);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;


}


#our-products-second-section-subcontainer03-right div {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  width: 240px;
  height: 130px;
  background-color: orange;

}

#our-products-second-section-subcontainer03-right div p {
  font-size: large;
  font-weight: 900;
  color: #fff;

}

#our-products-second-section-subcontainer03-right div span {
  font-size: x-large;
  color: #565656;
}

#our-products-second-section-subcontainer03-right div h1 {
  font-size: 30px;
  color: #5f5f5f;
}


/* slider */

#product-slider-main-container-heading{
  margin-top: 150px;
  margin-left: 90px;
  color:#5f5f5f ;
  font-size: xx-large;
}


.swiper-product {
  margin-top: 50px;
  width: 90%;


}

.swiper-slide {
  justify-content: center;
  align-items: center;

}

#swiper-slide-container01 {
  margin-left: 20px;
  width: 260px;
  height: 450px;
  overflow: hidden;
  border: 1.5px solid rgb(116, 197, 17);
  padding-bottom: 20px;
  border-radius: 20px;



}

#swiper-slide-container01 h4 {
  position: absolute;

  margin-left: 50px;
  margin-top: -130px;

  background-color: rgb(116, 197, 17);

  padding: 5px 20px;
  color: white;
  border-radius: 10px;


}


#swiper-slide-container01-01 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  text-align: start;
  width: 260px;

  height: 200px;

}

#swiper-slide-container01-02 {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  width: 240px;
  height: 230px;
}

#swiper-slide-container01-01 img {
  margin-right: 15px;

  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;


  width: 245px;
  height: 200px;
}





#swiper-slide-container01-02 div i {
  position: absolute;
  padding-left: 10px;
  padding-top: 8px;
  color: rgb(116, 197, 17);

}

#swiper-slide-container01-02 button {
  padding: 5px 30px;
  border-radius: 20px;
  background-color: white;
  color: rgb(116, 197, 17);
  border: 1.5px solid orange;
}





/* after our product section */

#after-our-product-section {
  margin-top: 100px;
}

#after-our-product-section-container01 {
  display: flex;
  width: 100%;
  height: 80vh;
  gap: 20px;
  background-color: rgb(255, 177, 43);
}

#after-our-product-section-container01-left {
  margin-top: 30px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  width: 50vw;
}

#after-our-product-section-container01-left h1 {
  font-size: 55px;
  color: #fff;
}


#after-our-product-section-container01-left h2 {
  font-size: 55px;
  color: rgb(107, 107, 107);
}

#after-our-product-section-container01-left button {
  margin-top: 10px;
  padding: 5px 20px;
  border-radius: 10px;
  border: 1px solid orange;
  transition: all .5s ease-in-out;
}

#after-our-product-section-container01-left button:hover {
  background-color: #fff;
  color: orange;
  transform: scale(1.1);

}

#after-our-product-section-container01-right {
  /* border: 2px solid black; */
  /* padding-top: 20px; */
  display: flex;
  justify-content: end;

  width: 40vw;

}

#after-our-product-section-container01-right img {
  width: 45vw;
}


/* Bestseller Products */

#Bestseller-Products {
  margin-top: 100px;

}

#Bestseller-Products-container01 {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;


}

#Bestseller-Products-container01 h1 {
  font-size: 55px;
  color: rgb(78, 78, 78);
}


#Bestseller-Products-container01 p {
  width: 60%;
}


#Bestseller-Products-container02 {
  margin-left: 30px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}


#Bestseller-Products-Subcontainer01 {
  border-radius: 20px;
  background-color: #f3f3f3bf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 200px;
}

#Bestseller-Products-Subcontainer01:hover {
  box-shadow: 2px 2px 5px 5px rgb(224, 224, 224);
}

#Bestseller-Products-Subcontainer01-left img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#Bestseller-Products-Subcontainer01-right {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 15px;
}

#Bestseller-Products-Subcontainer01-right h3 {
  font-size: 24px;
}

#Bestseller-Products-Subcontainer01-right img {
  width: 80px;

}

#Bestseller-Products-Subcontainer01-right div i {
  position: absolute;
  padding-top: 7px;
  padding-left: 10px;
  color: rgb(116, 197, 17);
}

#Bestseller-Products-Subcontainer01-right div button {
  padding: 5px 27px;
  color: rgb(116, 197, 17);
  border: 1.5px solid rgb(116, 197, 17);
  border-radius: 20px;
  margin-right: 10px;
}


/* After-Bestseller-Products-section */

#after-Bestseller-Products-section {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#after-Bestseller-Products-section-container {
  padding: 30px 30px;
  border-radius: 20px;
  background-color: #f3f3f3bf;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#after-Bestseller-Products-section-Subcontainer {

  border-radius: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #fff;
  width: 220px;
  height: 300px;
}

#after-Bestseller-Products-section-Subcontainer h1 {
  font-size: 30px;
  font-weight: 200;
  color: rgb(116, 197, 17);

}

/* our testimonial  section*/

#our-testimonial-section{
  margin-top: 100px;
}

#our-testimonial-section-main-container01{
  text-align: center;
}

#our-testimonial-section-main-container01 p{
  color: rgb(116, 197, 17);
  font-size: x-large;
  font-weight: 900;
  margin-bottom: 10px;
}

#our-testimonial-section-main-container01 h1{
  font-size: 50px;
  color: rgb(78, 78, 78);
  font-weight: 900;
}

#our-testimonial-section-main-container02{
  margin-top: 70px;
}

#our-testimonial-section-subcontainer02-01{
  width: 50vw;
  height: 60vh;

}

#our-testimonial-section-subcontainer02-01 p{
  margin-bottom: 10px ;
}


#our-testimonial-section-subcontainer02-01 #customer-section{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

#customer-section-container01 img{
  width: 200px;

}

#customer-section-container02{
  margin-left: 300px;
  margin-left: 20px;
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  gap: 5px;

}

#customer-section-container02 img{
  width:  100px;
}


/* testimonial slider */

.Testimonial-slider{
  width: 65vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.Testimonial-slider-01{
  margin-left: 100px;
  width: 50vw;

}

.Testimonial-slider-02{
  margin-left: 200px;
  width: 50vw;

}


.Testimonial-slider-03{
  margin-left: 220px;
  width: 50vw;

}


/* Footer section */

#footer-section{
  margin-top: 100px;
  width: 100vw;
  background-color:#5f6870;
}

#footer-section-container01{
  padding-top: 40px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 30px;
}

#footer-section-subcontainer01 h1{
  color: rgb(116, 197, 17);
  font-size: 40px;

}

#footer-section-subcontainer01 p{
  margin-top: 5px;
  color: orange;
  font-size: large;
}

#footer-section-subcontainer02 input{
  border-radius: 20px;
  width: 400px;
  padding: 10px 15px;
  border: 2px solid rgb(116, 197, 17);

}

#footer-section-subcontainer02 button{
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(116, 197, 17);
  color: #fff;
  border: 2px solid rgb(116, 197, 17);
}

#footer-section-subcontainer03{
  display: flex;
  gap: 20px;
}

#footer-section-subcontainer03 i{
  border: 1px solid orange;
  border-radius: 50%;
  padding: 10px;
  color: orange;
  font-size: large;
}

#footer-section-subcontainer03 i:hover{
  color: #fff;
}


#footer-section-container02{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding-top: 20px;

}

#footer-section-subcontainer02-01{
  width: 20vw;
}

#footer-section-subcontainer02-01 p{
  margin-top: 10px;
  margin-bottom: 20px;
  color: rgb(189, 189, 189);
}

#footer-section-subcontainer02-01 button{
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid  orange;
  color:  rgb(116, 197, 17);
  background-color:#5f6870;


}

#footer-section-subcontainer02-02 ul{
  list-style: none;

}

#footer-section-subcontainer02-02 ul li {
  cursor: pointer;

  padding-top: 10px;
}

#footer-section-subcontainer02-02 ul li a{
  text-decoration: none;
  color: rgb(193, 193, 193);
  
}

#footer-section-subcontainer02-02 ul li a:hover{
  color: orange;
}

#footer-section-subcontainer02-03 {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#footer-section-subcontainer02-03 div img{
  margin-top: 10px;
  width: 250px;
}

#footer-section-container03{
  display: flex;
  padding: 25px 45px;
  justify-content: space-between;
  color: rgb(199, 199, 199);

}

#footer-section-container03 div span{
  color: white;
  font-size: large;
  font-weight: 600;
  
}

#footer-section-container03 div b{
  color: rgb(116, 197, 17);
  text-decoration: underline;
}



/*  *******************************************************************************************                                    responsive for Mobile *************************************************************************************************************************************************************************************/



@media (max-width : 1024px) {
  html{
    overflow-x: hidden;
  }

  body{
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
  }



  #header-first-container{
    display: none;
  }


  #nav-bar{
    margin-top: -15px;

    position: relative;
    background-color: white; 
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    /* border: 1px solid rgb(210, 210, 210); */
    z-index: 999;

}


#nav-bar ul{
    /* background-color: grey; */
    margin-top: 85px;  
    margin-left: 0px;  
       
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgb(118, 222, 174); */
   background-color: #fff;
   color: rgb(116, 197, 17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: all 0.5s linear;


    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}



#nav-bar ul li a{
    color: rgb(116, 197, 17);
    font-weight: 500;
}


#nav-bar ul li a:hover{
    color: black;
}




.active #nav-bar ul{
    transform: translateY(0);
    opacity: 1;

    visibility: visible;
    pointer-events: auto;

}

.active .mobile-navbar-btn .fa-xmark{
    display: block;
    font-size: 2rem;
    margin-top: 40px;
    color:rgb(116, 197, 17);
    margin-left: 100px;
    
} 

.active .mobile-navbar-btn .fa-bars{

    display: none;
}


.fa-bars{
    font-size: 2rem;
    margin-top: 40px;
    display: block;
    z-index: 999;
    color: rgb(116, 197, 17);
    margin-left: 100px;
    

}

#nav-icons{

  display: none;
}


#nav-bar #logo h1{
  font-size: x-large;
}

/* #search-section{
  display: none;
} */



#search-section-container01 {
  margin-top: 100px;
  border: 2px solid white;
  width: 100%;
  overflow-x: hidden;


}

#search-section-container01 img {
  position: absolute;
  width: 100%;
  height: 450px;
  z-index: -1;
}

#search-section-container02 {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.783), rgba(230, 230, 230, 0.763));
  width: 100%;
  height: 450px;
  position: absolute;
  z-index: -1;
}

#search-subcontainer01 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: start;
  align-items: start;
  width: 90%;
  height: 70%;
  padding-left: 20px;
  padding-bottom: 20px;

}

#search-subcontainer01 p {
  color: orange;
  font-weight: 600;
  font-size: x-large;
}

#search-subcontainer01 h1 {
  font-size: 35px;
  color: rgb(116, 197, 17);
}

#search-subcontainer01 div input {
  width: 200px;
  padding: 10px 0px;
  border-radius: 30px;
  border: 2px solid rgb(116, 197, 17);
  padding-left: 15px;
}

#search-subcontainer01 div button {
  padding-right: 10px;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: rgb(116, 197, 17);
  border: 2px solid rgb(116, 197, 17);
  color: white;
}


#search-subcontainer01 div button:hover {
  color: rgb(116, 197, 17);
  border: 2px solid rgb(116, 197, 17);
  background-color: #fff;
}


#search-subcontainer02 {
  display: none;

}

.swiper {
  border-radius: 20px;
  width: 100vw;
  height: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  position: absolute;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#swiper-slide-container {
  background-color: rgba(255, 166, 0, 0.658);
  color: #fff;
  position: absolute;
  z-index: 1;
}


#after-search-section-main-container{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
}


#our-products {
  margin-top: 100px;
}

#our-products-container01 {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

#our-products-container01-btn04{
  display: none;
}

#our-products-container01 h1 {

  font-size: x-large;
}

#our-products-container01-btn {

  display: flex;
  gap: 30px;
}

#our-products-container01-btn button {
  padding: 6px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;

}

#our-products-container01-btn button:hover {
  background-color: orange;
  color: #fff;
  border: 1px solid orange;

}


/* Fruits-container */

#our-products-container02 {
  margin-top: 50px;

}

#our-products-container02-fruits-container {
  overflow-x: hidden;

  margin-top: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: 0px;
}

#Fruits-container01 {
  margin-left: 20px;
  border: 2px solid green;
  width: 250px;
  height: 430px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  overflow: hidden;
  border: 1px solid orange;
  border-radius: 20px;
  padding-bottom: 20px;



}

#Fruits-container01 h4 {
  z-index: 1;
  position: absolute;
  background-color: orange;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 20px;
  color: white;
  border-radius: 10px;


}

#Fruits-container01:hover {
  box-shadow: 1px 5px 5px 7px rgb(235, 235, 235);
}

#Fruits-container01 img {
  overflow: hidden;
  width: 247px;
  height: 200px;
  transition: all 0.5s ease-in;

}

#Fruits-container01 img:hover {
  transform: scale(1.1, 1.1);


}

#Fruits-container01 div i {
  position: absolute;
  padding-left: 10px;
  padding-top: 8px;
  color: rgb(116, 197, 17);

}

#Fruits-container01 button {
  padding: 5px 30px;
  border-radius: 20px;
  background-color: white;
  color: rgb(116, 197, 17);
  border: 1.5px solid orange;
}


/* vegetables container */


#our-products-container02-vegetables-container {
  overflow-x: hidden;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: 0px;
}

#Vegetables-container01 {
  margin-left: 20px;
  border: 2px solid green;
  width: 250px;
  height: 430px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  overflow: hidden;
  border: 1px solid orange;
  border-radius: 20px;
  padding-bottom: 20px;



}

#Vegetables-container01 h4 {
  z-index: 1;
  position: absolute;
  background-color: rgb(116, 197, 17);
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 20px;
  color: white;
  border-radius: 10px;


}

#Vegetables-container01:hover {
  box-shadow: 1px 5px 5px 7px rgb(235, 235, 235);
}

#Vegetables-container01 img {
  overflow: hidden;
  width: 247px;
  height: 200px;
  transition: all 0.5s ease-in;

}

#Vegetables-container01 img:hover {
  transform: scale(1.1, 1.1);


}

#Vegetables-container01 div i {
  position: absolute;
  padding-left: 10px;
  padding-top: 8px;
  color: rgb(116, 197, 17);

}

#Vegetables-container01 button {
  padding: 5px 30px;
  border-radius: 20px;
  background-color: white;
  color: rgb(116, 197, 17);
  border: 1.5px solid orange;
}

#our-products-second-section-container{
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
}




/* #our-products-second-section{
  display: none;

} */

/* #product-slider{
  display: none;

} */

/* #after-search-section{
  display: none;
} */


/* #after-our-product-section{
  display: none;
} */

/* #Bestseller-Products{
  display: none;
} */



#after-our-product-section {
  margin-top: 100px;
}

#after-our-product-section-container01 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  gap: 10px;
  background-color: rgb(255, 177, 43);
}

#after-our-product-section-container01-left {
  margin-top: 30px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  width: 100%;
}

#after-our-product-section-container01-left h1 {
  font-size: 35px;
  color: #fff;
}


#after-our-product-section-container01-left h2 {
  font-size: 30px;
  color: rgb(107, 107, 107);
}

#after-our-product-section-container01-left button {
  margin-top: 10px;
  padding: 5px 20px;
  border-radius: 10px;
  border: 1px solid orange;
  transition: all .5s ease-in-out;
}

#after-our-product-section-container01-left button:hover {
  background-color: #fff;
  color: orange;
  transform: scale(1.1);

}

#after-our-product-section-container01-right {
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;


  width: 100%;

}

#after-our-product-section-container01-right img {
  width: 300px;
}

#Bestseller-Products {
  margin-top: 100px;

}

#Bestseller-Products-container01 {

  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;


}

#Bestseller-Products-container01 h1 {
  font-size: 30px;
  color: rgb(78, 78, 78);
}


#Bestseller-Products-container01 p {
  width: 90%;
}


#Bestseller-Products-container02 {
  overflow-x: hidden;
  /* margin-left: 30px; */
  margin-top: 50px;
  row-gap: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


#Bestseller-Products-Subcontainer01 {
  border-radius: 20px;
  background-color: #f3f3f3bf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 200px;
}

#Bestseller-Products-Subcontainer01:hover {
  box-shadow: 2px 2px 5px 5px rgb(224, 224, 224);
}

#Bestseller-Products-Subcontainer01-left img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#Bestseller-Products-Subcontainer01-right {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 15px;
}

#Bestseller-Products-Subcontainer01-right h3 {
  font-size: 24px;
}

#Bestseller-Products-Subcontainer01-right img {
  width: 80px;

}

#Bestseller-Products-Subcontainer01-right div i {
  position: absolute;
  padding-top: 7px;
  padding-left: 10px;
  color: rgb(116, 197, 17);
}

#Bestseller-Products-Subcontainer01-right div button {
  padding: 5px 27px;
  color: rgb(116, 197, 17);
  border: 1.5px solid rgb(116, 197, 17);
  border-radius: 20px;
  margin-right: 10px;
}


#after-Bestseller-Products-section {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#after-Bestseller-Products-section-container {
  padding: 30px 30px;
  border-radius: 20px;
  background-color: #f3f3f3bf;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 30px;
}

#after-Bestseller-Products-section-Subcontainer {

  border-radius: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #fff;
  width: 220px;
  height: 300px;
}

#after-Bestseller-Products-section-Subcontainer h1 {
  font-size: 30px;
  font-weight: 200;
  color: rgb(116, 197, 17);

}



#our-testimonial-section{
  margin-top: 100px;
}

#our-testimonial-section-main-container01{
  text-align: center;
}

#our-testimonial-section-main-container01 p{
  color: rgb(116, 197, 17);
  font-size: x-large;
  font-weight: 900;
  margin-bottom: 10px;
}

#our-testimonial-section-main-container01 h1{
  font-size: 35px;
  color: rgb(78, 78, 78);
  font-weight: 900;
}

#our-testimonial-section-main-container02{
  margin-top: 70px;
}

#our-testimonial-section-subcontainer02-01{
  margin-left: -55px;
  width: 300px;
  height: 300px;

}

#our-testimonial-section-subcontainer02-01 p{
  text-align: center;

  margin-bottom: 10px ;
  /* width: 100%; */
}


#our-testimonial-section-subcontainer02-01 #customer-section{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

#customer-section-container01 img{
  width: 150px;

}

#customer-section-container02{
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: none;

}

#customer-section-container02 img{
  width:  100px;
}


/* testimonial slider */

.Testimonial-slider{
  /* border: 2px solid saddlebrown; */
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.Testimonial-slider-02{
  padding-left: 15px;
}

.Testimonial-slider-03{
  padding-left: 25px;
 width: 300px;
}

#footer-section{
  margin-top: 100px;
  width: 100%;
  background-color:#5f6870;
}

#footer-section-container01{
  padding-top: 40px;
  padding-left: 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-bottom: 30px;
  row-gap: 40px;

}

#footer-section-subcontainer01 h1{
  color: rgb(116, 197, 17);
  font-size: 30px;

}

#footer-section-subcontainer01 p{
  margin-top: 5px;
  color: orange;
  font-size: large;
}

#footer-section-subcontainer02 input{
  border-radius: 20px;
  width: 300px;
  padding: 10px 15px;
  border: 2px solid rgb(116, 197, 17);

}

#footer-section-subcontainer02 button{
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(116, 197, 17);
  color: #fff;
  border: 2px solid rgb(116, 197, 17);
}

#footer-section-subcontainer03{
  display: flex;
  gap: 20px;
}

#footer-section-subcontainer03 i{
  border: 1px solid orange;
  border-radius: 50%;
  padding: 10px;
  color: orange;
  font-size: large;
}

#footer-section-subcontainer03 i:hover{
  color: #fff;
}


#footer-section-container02{
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #fff;
  padding-top: 20px;

}

#footer-section-subcontainer02-01{
  width: 100%;
}

#footer-section-subcontainer02-01 p{
  margin-top: 10px;
  margin-bottom: 20px;
  color: rgb(189, 189, 189);
}

#footer-section-subcontainer02-01 button{
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid  orange;
  color:  rgb(116, 197, 17);
  background-color:#5f6870;


}

#footer-section-subcontainer02-02{
  margin-top: 30px;
  margin-left: -180px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
#footer-section-subcontainer02-02 ul{
  list-style: none;

}

#footer-section-subcontainer02-02 ul li {
  cursor: pointer;

  padding-top: 10px;
}

#footer-section-subcontainer02-02 ul li a{
  text-decoration: none;
  color: rgb(193, 193, 193);
  
}

#footer-section-subcontainer02-02 ul li a:hover{
  color: orange;
}

#footer-section-subcontainer02-03 {
  margin-left: -70px;

  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

#footer-section-subcontainer02-03 div img{
  margin-top: 10px;
  width: 250px;

}

#footer-section-container03{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  color: rgb(199, 199, 199);

}


#footer-section-container03 div span{
  margin-right: 10px;
  color: white;
  font-size: large;
  font-weight: 600;
  
}

#footer-section-container03 div b{
  color: rgb(116, 197, 17);
  text-decoration: underline;
}






}

























