* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


html {
    overflow-x: hidden;
}



body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}


#header-first-container {
    margin-left: 80px;
    width: 90%;
    height: 8vh;
    background-color: rgb(116, 197, 17);
    border-radius: 10px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#header-first-subcontainer01 {
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

#header-first-subcontainer01 i {
    color: rgb(255, 196, 0);
    padding-right: 5px;
}


#header-first-subcontainer02 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
    color: white;
}


#logo h1 {
    font-size: 45px;
    color: rgb(116, 197, 17);
    ;
}

#nav-bar {
    width: 100%;
    margin-top: 20px;
    /* border: 2px solid salmon; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    z-index: 999;
}

#nav-bar ul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

#nav-bar ul li {
    list-style: none;
}

#nav-bar ul li a {
    text-decoration: none;
    color: black;
}


#nav-bar ul li a:hover {
    color: rgb(116, 197, 17);
    /* background-color: rgb(211, 211, 211); */
}


.moblie-navbar-icon {
    display: none;
    width: 4rem;
    height: 4rem;

}


.fa-xmark {
    display: none;
}




.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-bottom-right-radius: 10px;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-align: left;
    z-index: 998;
    background-color: #fff;
}

.dropdown-content a:hover {
    background-color: rgb(116, 197, 17);
}

.show {
    display: block;
}


#nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: x-large;
}

#nav-icons i {
    color: rgb(116, 197, 17);
}


.content {
    padding: 16px;
}

.sticky {

    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

/* shop banner section Styling */

#shop-banner-section {
    width: 100vw;
    margin-top: 20px;
    margin-bottom: 50px;
}

#shop-banner-section img {
    position: absolute;
    height: 200px;
    width: 100%;
    z-index: -1;

}

#shop-banner-section h3 {
    font-size: xx-large;
    color: #fff;
    font-weight: bold;

    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fresh-fruits-search-section */

#Fresh-fruits-search-section {
    width: 100%;
}

#Fresh-fruits-search-section h1 {
    padding-left: 30px;
    font-size: xx-large;
    font-weight: 800;
    color: #47535d;
}

#Fresh-fruits-search-section-container01 {
    margin-top: 30px;
    padding-left: 30px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}


#Fresh-fruits-search-section-search-bar input {
    width: 250px;
    padding: 10px 10px;


    font-size: large;
    border: 1px solid #606d79;
    border-radius: 5px;

}

#Fresh-fruits-search-section-search-bar i {
    position: absolute;
    width: 230px;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;

}

#Fresh-fruits-search-section-Category {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 14px 20px;
    background-color: rgb(248, 248, 248);
}

#Fresh-fruits-search-section-Category #DefaultSorting {
    background-color: rgb(248, 248, 248);

    padding-left: 10px;
    border: none;
}




#CategoriesProduct-section{
    margin-top: 30px;
    width: 100vw;
}


#CategoriesProduct-section-container{
    width: 100%;
    display: flex;


}

#CategoriesProduct-section-container01{
    padding-left: 20px;
    width: 25%;
}

#CategoriesProduct-section-container01 #CategoriesProduct-section-c-01-subcontainer{
    padding-right: 20px;
    display: flex;
    margin-top: 15px;
    justify-content: space-between;

}

#CategoriesProduct-section-container01 #CategoriesProduct-section-c-01-subcontainer div{
    color: rgb(116, 197, 17);
}

#CategoriesProduct-section-container01 input[type="radio"]{
    margin-top: 10px;
    padding: 10px 0px;
}

#Featured-products-containers{
    margin-top: 30px;
    display: flex;

}

#Featured-products-containers-left img{
    width: 100px;
}

#Featured-products-containers-right h3{
    margin-left: 10px;
}

#Featured-products-containers-right img{
    width: 100px;
}

#Featured-products-containers-right p{
    color: #565c61;
    font-weight: bolder;
    font-size: larger;
    margin-left: 10px;
} 

#Featured-products-containers-right p del{
    margin-left: 5px;
    font-weight: bold;
    color: red;
}

#Featured-products-containers-button{
    margin-top: 30px;

    padding: 10px 0px;
    border-radius: 30px;
    border: 1px solid orange;
    color: rgb(116, 197, 17);
    background-color: #fff;
    width: 80%;
    margin-bottom: 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 550;
}



#Featured-products-containers-button:hover{
    background-color: orange;
    border: 2px solid orange;
    color: white;
}

#Featured-products-banner img{
    width: 280px;
}


#Featured-products-banner h2{
    position: absolute;
    color: orange;
    font-size: xx-large;
    width: 280px;
    height: 330px;
    display: flex;
    justify-content: end;
    align-items: center;
    
}


#progress-container {
    margin-left: 10px;
    position: relative;
    width: 200px;
}

#progress-bar {
    width: 100%;
    height: 8px;
    background-color: #ddd;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
}

#progress-button {
    width: 20px;
    height: 20px;
    background-color: rgb(116, 197, 17);
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    transform: translate(-50%, -50%);
    user-select: none;
}

#amount {
    font-size: 18px;
}

#CategoriesProduct-section-container02{
    width: 70%;

}


#CategoriesProduct-section-container02-fruits-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  
  #Fruits-container01 {
    margin-left: 20px;
    border: 2px solid green;
    width: 250px;
    height: 430px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    overflow: hidden;
    border: 1px solid orange;
    border-radius: 20px;
    padding-bottom: 20px;
  
  
  
  }
  
  #Fruits-container01 h4 {
    z-index: 1;
    position: absolute;
    background-color: orange;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 20px;
    color: white;
    border-radius: 10px;
  
  
  }
  
  #Fruits-container01:hover {
    box-shadow: 1px 5px 5px 7px rgb(235, 235, 235);
  }
  
  #Fruits-container01 img {
    overflow: hidden;
    width: 248px;
    height: 200px;
    transition: all 0.5s ease-in;
  
  }
  
  #Fruits-container01 img:hover {
    transform: scale(1.1, 1.1);
  
  
  }
  
  #Fruits-container01 div i {
    position: absolute;
    padding-left: 10px;
    padding-top: 8px;
    color: rgb(116, 197, 17);
  
  }
  
  #Fruits-container01 button {
    padding: 5px 30px;
    border-radius: 20px;
    background-color: white;
    color: rgb(116, 197, 17);
    border: 1.5px solid orange;
  }

  /* after-CategoriesProduct-section */

#after-CategoriesProduct-section{
    width: 100vw;
    display: flex;
    justify-content: center;

}

#after-CategoriesProduct-section-container01{
    display: flex;
    justify-content: center;
    width: 60%;
}

#after-CategoriesProduct-section-container01 span{
    border:1px solid orange;
    border-radius: 10px;

    padding: 10px 20px;
    margin-left: 10px;
}

#after-CategoriesProduct-section-container01 #span01{
    background-color:  rgb(116, 197, 17);
    color: white;

}

#after-CategoriesProduct-section-container01 span:hover{
    background-color:  rgb(116, 197, 17);
    color: white;
}




























/* Footer section */

#footer-section {
    margin-top: 100px;
    width: 100vw;
    background-color: #5f6870;
}

#footer-section-container01 {
    padding-top: 40px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 30px;
}

#footer-section-subcontainer01 h1 {
    color: rgb(116, 197, 17);
    font-size: 40px;

}

#footer-section-subcontainer01 p {
    margin-top: 5px;
    color: orange;
    font-size: large;
}

#footer-section-subcontainer02 input {
    border-radius: 20px;
    width: 400px;
    padding: 10px 15px;
    border: 2px solid rgb(116, 197, 17);

}

#footer-section-subcontainer02 button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(116, 197, 17);
    color: #fff;
    border: 2px solid rgb(116, 197, 17);
}

#footer-section-subcontainer03 {
    display: flex;
    gap: 20px;
}

#footer-section-subcontainer03 i {
    border: 1px solid orange;
    border-radius: 50%;
    padding: 10px;
    color: orange;
    font-size: large;
}

#footer-section-subcontainer03 i:hover {
    color: #fff;
}


#footer-section-container02 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding-top: 20px;

}

#footer-section-subcontainer02-01 {
    width: 20vw;
}

#footer-section-subcontainer02-01 p {
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(189, 189, 189);
}

#footer-section-subcontainer02-01 button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid orange;
    color: rgb(116, 197, 17);
    background-color: #5f6870;


}

#footer-section-subcontainer02-02 ul {
    list-style: none;

}

#footer-section-subcontainer02-02 ul li {
    cursor: pointer;

    padding-top: 10px;
}

#footer-section-subcontainer02-02 ul li a {
    text-decoration: none;
    color: rgb(193, 193, 193);

}

#footer-section-subcontainer02-02 ul li a:hover {
    color: orange;
}

#footer-section-subcontainer02-03 {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#footer-section-subcontainer02-03 div img {
    margin-top: 10px;
    width: 250px;
}

#footer-section-container03 {
    display: flex;
    padding: 25px 45px;
    justify-content: space-between;
    color: rgb(199, 199, 199);

}

#footer-section-container03 div span {
    color: white;
    font-size: large;
    font-weight: 600;

}

#footer-section-container03 div b {
    color: rgb(116, 197, 17);
    text-decoration: underline;
}

/* ********************************************************************************************                                  Responsive for Mobile **************************************************************************************** */



@media (max-width : 1024px) {
    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
        width: 100vw;
        margin: 0;
        padding: 0;
    }



    #header-first-container {
        display: none;
    }


    #nav-bar {
        margin-top: -15px;

        position: relative;
        background-color: white;
        position: fixed;
        top: 0;
        /* Position the navbar at the top of the page */
        width: 100%;
        /* border: 1px solid rgb(210, 210, 210); */
        z-index: 999;

    }


    #nav-bar ul {
        /* background-color: grey; */
        margin-top: 85px;
        margin-left: 0px;

        width: 100vw;
        height: 50vh;
        position: absolute;
        top: 0;
        left: 0;
        /* background-color: rgb(118, 222, 174); */
        background-color: #fff;
        color: rgb(116, 197, 17);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: all 0.5s linear;


        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }



    #nav-bar ul li a {
        color: rgb(116, 197, 17);
        font-weight: 500;
    }


    #nav-bar ul li a:hover {
        color: black;
    }




    .active #nav-bar ul {
        transform: translateY(0);
        opacity: 1;

        visibility: visible;
        pointer-events: auto;

    }

    .active .mobile-navbar-btn .fa-xmark {
        display: block;
        font-size: 2rem;
        margin-top: 40px;
        color: rgb(116, 197, 17);
        margin-left: 100px;

    }

    .active .mobile-navbar-btn .fa-bars {

        display: none;
    }


    .fa-bars {
        font-size: 2rem;
        margin-top: 40px;
        display: block;
        z-index: 999;
        color: rgb(116, 197, 17);
        margin-left: 100px;


    }

    #nav-icons {

        display: none;
    }


    #nav-bar #logo h1 {
        font-size: x-large;
    }






    /* shop banner section styling */


    #shop-banner-section {
        width: 100vw;
        margin-top: 80px;
        /* display: flex;
    justify-content: center;
    align-items: center; */

        margin-bottom: 50px;
    }

    #shop-banner-section img {
        position: absolute;
        height: 170px;
        width: 100%;
        z-index: -1;

    }

    #shop-banner-section h3 {
        font-size: xx-large;
        color: #fff;
        font-weight: bold;

        width: 100%;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Fresh-fruits-search-section */

    #Fresh-fruits-search-section {
        width: 100%;
    }

    #Fresh-fruits-search-section h1 {
        padding-left: 20px;
        font-size: xx-large;
        font-weight: 800;
        color: #47535d;

    }

    #Fresh-fruits-search-section-container01 {
        padding: 0px;
        margin-top: 30px;
        margin-left: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;


    }

    #Fresh-fruits-search-section-search-bar {
        width: 90%;
    }

    #Fresh-fruits-search-section-search-bar input {
        width: 100%;
        font-size: large;
        border: 1px solid #606d79;
        border-radius: 5px;

    }

    #Fresh-fruits-search-section-search-bar i {
        width: 85%;
        position: absolute;

    }

    #Fresh-fruits-search-section-Category {
        display: flex;
        justify-content: space-around;
        border: 1px solid grey;
        border-radius: 5px;
        width: 90%;
        background-color: rgb(248, 248, 248);
    }

    #Fresh-fruits-search-section-Category #DefaultSorting {
        background-color: rgb(248, 248, 248);

        padding-left: 10px;
        border: none;
    }

    #CategoriesProduct-section{
        margin-top: 30px;
        width: 100vw;
    }

    #CategoriesProduct-section-container{
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }

    #CategoriesProduct-section-container01{
        padding-left: 20px;
        width: 100%;
    }

    #Featured-products-containers{
        width: 90%;
        margin-top: 30px;
        display: flex;
    

    }
    
    #Featured-products-containers-left img{
        width: 100px;
    }
    
    #Featured-products-containers-right h3{
        margin-left: 10px;
    }
    
    #Featured-products-containers-right img{
        width: 100px;
    }
    
    #Featured-products-containers-right p{
        color: #565c61;
        font-weight: bolder;
        font-size: larger;
        margin-left: 10px;
    } 
    
    #Featured-products-containers-right p del{
        margin-left: 5px;
        font-weight: bold;
        color: red;
    }
    
    #Featured-products-containers-button{
        margin-top: 30px;
    
        padding: 10px 0px;
        border-radius: 30px;
        border: 1px solid orange;
        color: rgb(116, 197, 17);
        background-color: #fff;
        width: 90%;
        margin-bottom: 30px;
        font-size: 16px;
        cursor: pointer;
        font-weight: 550;
    }
    
    
    
    #Featured-products-containers-button:hover{
        background-color: orange;
        border: 2px solid orange;
        color: white;
    }
    
    #Featured-products-banner img{
        border-radius:20px ;
        width: 90%;
        height: 350px;
    }
    
    
    #Featured-products-banner h2{
        position: absolute;
        color: orange;
        font-size: xx-large;
        width: 80%;
        height: 100%;
        height: 350px;
        display: flex;
        justify-content: end;
        align-items: center;

}

#CategoriesProduct-section-container02{
    width: 100%;

}


#CategoriesProduct-section-container02-fruits-container {
  
    margin-top: 30px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    row-gap: 30px;
  }
  
  #Fruits-container01 {
    margin-left: 20px;
    width: 250px;
    height: 430px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    overflow: hidden;
    border: 1px solid orange;
    border-radius: 20px;
    padding-bottom: 20px;
  
  
  
  }
  
  #Fruits-container01 h4 {
    z-index: 1;
    position: absolute;
    background-color: orange;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 20px;
    color: white;
    border-radius: 10px;
  
  
  }
  
  #Fruits-container01:hover {
    box-shadow: 1px 5px 5px 7px rgb(235, 235, 235);
  }
  
  #Fruits-container01 img {
    overflow: hidden;
    width: 248px;
    height: 200px;
    transition: all 0.5s ease-in;
  
  }
  
  #Fruits-container01 img:hover {
    transform: scale(1.1, 1.1);
  
  
  }
  
  #Fruits-container01 div i {
    position: absolute;
    padding-left: 10px;
    padding-top: 8px;
    color: rgb(116, 197, 17);
  
  }
  
  #Fruits-container01 button {
    padding: 5px 30px;
    border-radius: 20px;
    background-color: white;
    color: rgb(116, 197, 17);
    border: 1.5px solid orange;
  }

  
#after-CategoriesProduct-section{
    width: 100vw;
    display: flex;
    justify-content: center;

}

#after-CategoriesProduct-section-container01{
    display: flex;
    justify-content: center;
    width: 90%;
}

#after-CategoriesProduct-section-container01 span{
    border:1px solid orange;
    border-radius: 10px;

    padding: 8px 15px;
    margin-left: 5px;
}

#after-CategoriesProduct-section-container01 #span01{
    background-color:  rgb(116, 197, 17);
    color: white;

}

#after-CategoriesProduct-section-container01 span:hover{
    background-color:  rgb(116, 197, 17);
    color: white;
}


    /* Footer section styling */

    #footer-section {
        margin-top: 100px;
        width: 100%;
        background-color: #5f6870;
    }

    #footer-section-container01 {
        padding-top: 40px;
        padding-left: 20px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding-bottom: 30px;
        row-gap: 40px;

    }

    #footer-section-subcontainer01 h1 {
        color: rgb(116, 197, 17);
        font-size: 30px;

    }

    #footer-section-subcontainer01 p {
        margin-top: 5px;
        color: orange;
        font-size: large;
    }

    #footer-section-subcontainer02 input {
        border-radius: 20px;
        width: 300px;
        padding: 10px 15px;
        border: 2px solid rgb(116, 197, 17);

    }

    #footer-section-subcontainer02 button {
        margin-top: 20px;
        padding: 10px 20px;
        border-radius: 20px;
        background-color: rgb(116, 197, 17);
        color: #fff;
        border: 2px solid rgb(116, 197, 17);
    }

    #footer-section-subcontainer03 {
        display: flex;
        gap: 20px;
    }

    #footer-section-subcontainer03 i {
        border: 1px solid orange;
        border-radius: 50%;
        padding: 10px;
        color: orange;
        font-size: large;
    }

    #footer-section-subcontainer03 i:hover {
        color: #fff;
    }


    #footer-section-container02 {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        color: #fff;
        padding-top: 20px;

    }

    #footer-section-subcontainer02-01 {
        width: 100%;
    }

    #footer-section-subcontainer02-01 p {
        margin-top: 10px;
        margin-bottom: 20px;
        color: rgb(189, 189, 189);
    }

    #footer-section-subcontainer02-01 button {
        margin-top: 20px;
        padding: 10px 20px;
        border-radius: 20px;
        border: 1px solid orange;
        color: rgb(116, 197, 17);
        background-color: #5f6870;


    }

    #footer-section-subcontainer02-02 {
        margin-top: 30px;
        margin-left: -180px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    #footer-section-subcontainer02-02 ul {
        list-style: none;

    }

    #footer-section-subcontainer02-02 ul li {
        cursor: pointer;

        padding-top: 10px;
    }

    #footer-section-subcontainer02-02 ul li a {
        text-decoration: none;
        color: rgb(193, 193, 193);

    }

    #footer-section-subcontainer02-02 ul li a:hover {
        color: orange;
    }

    #footer-section-subcontainer02-03 {
        margin-left: -70px;

        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 20px;
    }

    #footer-section-subcontainer02-03 div img {
        margin-top: 10px;
        width: 250px;

    }

    #footer-section-container03 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        color: rgb(199, 199, 199);

    }


    #footer-section-container03 div span {
        margin-right: 10px;
        color: white;
        font-size: large;
        font-weight: 600;

    }

    #footer-section-container03 div b {
        color: rgb(116, 197, 17);
        text-decoration: underline;
    }

}